/** Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap**/


/* Extra small devices (phones, 767px and down) */

@media only screen and (max-width: 767px) {
    header .navbar-brand {
        margin-right: 0.25rem;
    }
    .navbar-nav .nav-item:after {
        content: "";
    }
    .navbar-nav .nav-link,
    .navbar-nav .nav-link:hover {
        padding: 10px 15px;
    }
    .navbar-nav .nav-item {
        padding-right: 0px;
        padding-left: 0px;
        display: flex;
    }
    #navbarNav .navbar-nav .nav-item {
        display: block;
    }
    .navbar-nav .nav-item.active .nav-link::after {
        background-color: rgb(255 255 255 / 10%);
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
    }
    .navbar-toggler {
        padding: 5px;
        margin-right: auto;
        border: 1px solid rgb(255 255 255 / 15%);
        border-width: 0 1px;
        border-radius: 0;
    }
    .card-details figure {
        display: none;
    }
    .user-cred .navbar-nav .nav-link {
        padding: 9px 0;
    }
    .back-btn {
        width: auto;
        height: 46px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        border-radius: 0;
        background-color: rgb(241 241 241);
        color: #FF8000;
        text-align: center;
        font-size: 0.85rem;
        z-index: 2;
        font-weight: 400;

    }
    .back-btn:hover {
        color: #fff;
        text-decoration: none;
    }
    .back-to-chptr {
        display: block;
    }
    .back-btn img {
        display: none;
    }
    .all-chaptr-cards .no-concents {
        top: -40px;
        left: 15px;
        right: auto;
        background-color: #FF8000;
        color: #fff;
    }
    .chapter-dtls .no-concents {
        top: 10px;
        left: 85px;
        right: auto;
        background-color: #ffffff;
        color: #FF8000;
    }
    .activities-dv .activity-list span.card {
        display: block;
        background-color: rgb(245 245 245);
        box-shadow: none;
        border: 1px solid #eee;
        margin-bottom: 0px;
    }
    .activities-dv .activity-list {
        margin: 0 -15px 0;
    }
    .chapter-info-txt {
        margin-bottom: 0.5rem;
    }
    .card-body {
        padding: 0.8rem 1.25rem 1rem 1.25rem;
    }
    .chapter-dtls .card-text {
        display: none;
    }
    .concepts-area {
        margin-top: 15px;
    }
    nav[aria-label=breadcrumb] {
        display: none;
    }
    /*.pg-yallow-1-3 {
        display: none;
    }*/
    .card-details.card {
        box-shadow: none;
        position: relative;
        top: 0;
        background-color: transparent;
        margin-bottom: 15px;
    }
    .card-details.card .card-body {
        margin: -15px -15px auto -15px;
        background: #fff;
        background-color: #f1f1f1;
    }
    .card-details h1 {
        font-size: 20px;
    }
    .concepts-area .heading-rw h2 {
        font-size: 18px;
    }
    .expand_btn,
    .expand_btn:hover,
    .btn-primary.expand_btn,
    .expand_btn.btn-primary:hover,
    .expand_btn.btn-primary:focus,
    .expand_btn.btn-primary:not(:disabled):not(.disabled).active,
    .expand_btn.btn-primary:not(:disabled):not(.disabled):active {
        background-color: transparent;
    }
    .activities-dv .activity-list li {
        margin-bottom: 15px;
    }
    .activities-dv .activity-list li:last-child {
        margin-bottom: 0;
    }
    .shot-contnts button {
        display: inline-block;
        align-items: center;
        padding: 8px 15px !important;
        width: 50%;
        text-align: center;
    }
    .shot-contnts button svg {
        width: 16px;
        fill: #292775;
    }
    /*.shot-contnts .flt-txt {
        display: none;
    }*/
    .shot-contnts button svg {
        display: none;
    }
    .fltr-frm .form-control {
        margin-left: 0px;
    }
    .fltr-frm {
        float: left;
        width: 100%;
        margin-top: 15px;
    }
    .fltr-frm select:first-child {
        margin-left: 0px;
    }
    .fltr-frm select {
        width: 38%;
        float: left;
        min-width: 1px;
    }
    .fltr-frm select,
    .fltr-frm .btn {
        margin-left: 5%;
    }
    .fltr-frm .btn {
        width: 100%;
        float: right;
        padding: .5rem .75rem;
    }
    .pg-yallow-color {
        padding-bottom: 0px;
    }
    .all-chaptr-cards .heading-rw {
        margin-bottom: 20px;
        position: relative;
        margin-top: 20px;
    }
    .all-chaptr-cards .heading-rw h1 {
        font-size: 20px;
    }
    /*.show-rslt {
        position: absolute;
        bottom: -25px;
        left: 0;
    }*/
    .card {
        border-radius: .25rem;
    }
    .act-img {
        float: left;
        width: 100%;
        margin: 0 0 15px 0;
    }
    .activity-rw.heading-rw h2 {
        font-size: 20px !important;
    }
    /*.expand-dv {
        margin-top: 15px;
    }*/
    .dropdown.show [aria-expanded="true"] {
        background: transparent;
    }
    .dropdown-toggle::after {
        right: 15px;
    }
    .user-cred .user-img {
        margin-left: 10px;
        margin-top: 5px;
        margin-right: 25px;
    }
    .mob-pg-heading {
        font-size: 12px;
        color: rgb(41 39 117 / 50%);
        font-weight: 600;
        margin-top: 0;
        text-transform: uppercase;
        text-align: center;
        display: table;
        background: rgb(41 39 117 / 8%);
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 2px 10px;
        border-radius: 50px;
    }
    .shot-contnts {
        float: left;
        width: 100%;
    }
    .fltr-frm {
        float: left;
        width: 100%;
        display: block;
    }
    .u-nm {
        display: none;
        margin-top: 0;
        margin-bottom: 0;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        right: 10px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        margin-top: 0px;
    }
    .expand-dv .card-header .btn span svg {
        width: 10px;
        height: 10px;
        top: 0px;
    }
    .inr-pg footer {
        position: fixed;
        bottom: 46px;
        width: 100%;
        z-index: 5;
        display: none;
    }
    .goforfit-logo {
        padding: 3px;
    }
    .goforfit-logo.logo-mob {
        padding: 2px 4px 4px 4px;
        max-height: 31px;
    }
    .mob-dropdown {
        border-top: 1px solid rgb(255 255 255 / 15%); 
    }
    .pagination li.page-item {
        display: none;
    }
    .pagination li.page-item:first-child, .pagination li.page-item:last-child {
        display: block;
    }
    .user-cred .nav-link.user-login, .user-cred .nav-link.user-register {
        margin: 6px 5px;
    }
    .user-cred .navbar-nav .nav-link {
        padding: 4px 0;
    }
    #navbarNav .navbar-nav .nav-item:last-child, #navbarNav .navbar-nav .nav-item {
        border: none;
    }
    .shot-contnts.btn-group {
        z-index: 2;
    }
    /*.overlay {
        display: none;
    }
    .overlay:active {
        display: block;
    }
    .overlay::after {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #eee;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }*/
    .overlay::after::before {
        content: "x";
        position: fixed;
        top: 0;
        left: 0;
        font-size: 24px;
        color: #fff;
    }
    .overlay .fltr-frm.form-inline {
        position: relative;
        z-index: 2;
        /*background-color: #fff;*/
    }
    .overlay .fltr-frm .form-control {
        width: 48%;
        margin-bottom: 15px;
    }
    .overlay .fltr-frm .form-control:nth-child(even) {
        margin-left: 2%;
    }
    .overlay .fltr-frm .form-control:nth-child(odd) {
        margin-right:  2%;
    }
    .overlay .fltr-frm input[type=text].form-control {
        width: 100%;
    }
    .overlay .fltr-frm .search-btn {
        width: auto;
        position: absolute;
        right: 0;
        top: 0;
        background: transparent;
        box-shadow: none;
    }
    .overlay .fltr-frm .search-btn svg {
        fill:#999;
    }
    

}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    header .navbar-brand {
        margin-right: 0.5rem;
    }
    .navbar-nav .nav-item:after {
        content: "";
    }
    /*.navbar-nav .nav-link,
    .navbar-nav .nav-link:hover {
        padding: 15px;
    }*/
    .mob-dropdown .nav-link {
        padding: 0.75rem 1rem;
    }
    .navbar-nav .nav-item {
        padding-right: 0px;
        padding-left: 0px;
        display: flex;
    }
    .navbar-nav .nav-item.active .nav-link::after {
        /*background-color: #2a5461;*/
        height: 3px;
        bottom: 0px;
        border-radius: 100px 100px 0 0;
    }
    .dropdown-menu.user-menu {
        position: absolute;
    }
    .card-details img {
        display: none;
    }
    .user-cred .navbar-nav .nav-link {
        padding: 4px 0;
    }
    .back-btn {
        width: auto;
        height: 46px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        border-radius: 0;
        background-color: rgb(255 255 255);
        color: #333;
        text-align: center;
        font-size: 1rem;
        z-index: 2;
    }
    .back-btn:hover {
        color: #fff;
        text-decoration: none;
    }
    .back-to-chptr {
        display: block;
    }
    .back-btn img {
        display: none;
    }
    .chapter-info-txt {
        margin-bottom: 0.5rem;
    }
    .card-body {
        padding: 0.8rem 1.25rem 1rem 1.25rem;
    }
    .chapter-dtls .card-text {
        display: none;
    }
    .concepts-area {
        margin-top: 15px;
    }
    .all-chaptr-cards .card .no-concents {
        top: -32px;
        left: 10px;
        right: auto;
        background-color: #FF8000;
        color: #fff;
    }
    .chapter-dtls .no-concents {
        display: inline-block;
        position: absolute;
        left: 85px;
        top: 10px;
        background-color: #ffffff;
        color: #FF8000;
        font-size: 14px;
        z-index: 1;
        padding: 3px 10px;
        border-radius: 50px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
    .activities-dv .activity-list span.card {
        display: block;
        background-color:#fff;
        box-shadow: none;
        border: none;
        margin-bottom: 0px;
    }
    .activities-dv .activity-list {
        margin: 0 -15px 0;
    }
    .chapter-info-txt {
        margin-bottom: 0.5rem;
    }
    .card-body {
        padding: 0.8rem 1.25rem 1rem 1.25rem;
    }
    .chapter-dtls .card-text {
        display: none;
    }
    .concepts-area {
        margin-top: 15px;
    }
    .pg-yallow-1-3 {
        display: none;
    }
    .card-details.card {
        box-shadow: none;
        position: relative;
        top: 0;
        background-color: transparent;
        margin-bottom: 15px;
    }
    .card-details.card .card-body {
        margin: -15px -15px auto -15px;
        background-color: #f1f1f1;
    }
    .card-details h1 {
        margin-bottom: 0;
        margin-top: 15px;
    }
    .concepts-area .heading-rw h2 {
        font-size: 18px;
    }
    .expand_btn,
    .expand_btn:hover,
    .btn-primary.expand_btn,
    .expand_btn.btn-primary:hover,
    .expand_btn.btn-primary:focus,
    .expand_btn.btn-primary:not(:disabled):not(.disabled).active,
    .expand_btn.btn-primary:not(:disabled):not(.disabled):active {
        background-color: transparent;
    }
    .activities-dv .activity-list li {
        margin-bottom: 15px;
    }
    .activities-dv .activity-list li:last-child {
        margin-bottom: 0;
    }
    .shot-contnts .filter-i,
    .shot-contnts .serach-i {
        display: none;
    }
    /*.expand-dv {
        margin-top: 15px;
    }
    .card {
        border-radius: .25rem;
    }*/
    .dropdown.show [aria-expanded="true"] {
        background: transparent;
    }
    .dropdown-toggle::after {
        right: 15px;
    }
    .user-cred .user-img {
        margin-left: 10px;
        margin-top: 0;
        margin-right: 25px;
        margin-bottom: 0;
        width: 24px;
        height: 24px;
        visibility: visible;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        margin-top: 0;
    }
    .u-nm {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }
    .card-details figure {
        display: none;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .navbar-toggler {
        margin-right: 15px;
    }
    .card-details figure {
        display: block;
    }
    .card-details img {
        display: block;
    }
    .back-btn span {
        display: none;
    }
    .back-btn {
        background-color: #fff;
        padding: 3px 2px 0 4px;
        box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
        width: 32px;
        height: 32px;
        border-radius: 50px;
        position: absolute;
        top: 15px;
        left: -15px;
    }
    .chapter-dtls .no-concents {
        top: -40px;
        left: 15px;
        right: auto;
        background-color: #FF8000;
        color: #fff;
    }
    .chapter-dtls .card-text {
        display: block;
    }
    .concepts-area {
        margin-top: 30px;
    }
    .pg-yallow-1-3 {
        height: 238px;
        padding-bottom: 30px;
        position: absolute;
        top: 60px;
    }
    .card-details.card {
        background-color: #fff;
        box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
        border-radius: .5rem;
        position: sticky;
        top: 106px;
    }
    .card-details.card .card-body {
        margin: 0;
        background-color: #fff;
        border-radius: 0 0 .5rem .5rem;
    }
    .card-details h1 {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .pg-yallow-1-3 {
        display: block;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}


/* Set width to make card deck cards 100% width 
 @media (max-width: 950px) { 
  
 }
*/